<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="useDB">
	<!-- ACC_TBL -->
	<select id="selectAccForAccountId" resultType="AccDto">
		SELECT * FROM ACC_TBL WHERE accountId=#{value};
	</select>
	<select id="selectAccForSignIn" resultType="AccDto">
		SELECT * FROM ACC_TBL WHERE accountId=#{accountId} AND accountPassword=#{accountPassword};
	</select>
	<insert id="insertAcc" parameterType="AccDto">
		INSERT INTO ACC_TBL VALUES(#{accountId}, #{accountPassword}, #{accountName})
	</insert>
</mapper>