<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="useDB">
	<!-- ACC_TBL -->
	<select id="selectAccForAccountId" resultType="AccDto">
		SELECT * FROM ACC_TBL WHERE accountId=#{value};
	</select>
	<select id="selectAccForSignIn" resultType="AccDto">
		SELECT * FROM ACC_TBL WHERE accountId=#{accountId} AND accountPassword=#{accountPassword};
	</select>
	<insert id="insertAcc" parameterType="AccDto">
		INSERT INTO ACC_TBL VALUES(#{accountId}, #{accountPassword}, #{accountName})
	</insert>
	
	<!-- BOA_TBL -->
	<select id="selectAllBoard" resultType="BoaDto">
		SELECT * FROM BOA_TBL WHERE deleteFlag = FALSE ORDER BY no DESC LIMIT #{startList}, #{listSize}
	</select>
	<select id="getBoardListCnt" resultType="int">
		SELECT count(*) as listCnt FROM BOA_TBL
	</select>
	<insert id="insertBoa" parameterType="BoaDto">
		INSERT INTO BOA_TBL VALUES(#{no}, #{title}, #{contents}, #{user}, #{createTime}, #{deleteFlag})
	</insert>
	<update id="empUpdate" parameterType="BoaDto">
	    UPDATE BOA_TBL
	    SET title = #{title}, contents = #{contents}, createTime = #{createTime}, deleteFlag = #{deleteFlag}
	    WHERE no = #{no}
	</update>
</mapper>